
<% if @lot.pending? & (@lot.creator_user == current_user) %>

  <div class='add-item-area'>
    <p>Adicionar item</p>

    <% if @auction_item_opts.any? %>
      <%= form_with url: add_auction_lot_path do |f| %>
        <%= f.select :item_id, options_for_select(@auction_item_opts) %>
        <%= f.submit 'Adicionar' %>
      <% end %>
    <% else %>

      <div>
        <p>Não há itens disponíveis para adicionar</p>
      </div>

    <% end %>

  </div>
<% end %>
