<details>
  <summary>Composição do lote</summary>

  <ul>
    <% @lot.auction_items.each do |item| %>
      <li>
        <p><%= item.full_description %></p>
        
        <% if @lot.pending? %>
          <%= button_to 'Remover', remove_lot_path(@lot, item_id: item) %>
        <% end %>
      </li>
    <% end %>
  </ul>
</details>
