
<div>
  <p>Status: <%= t(".#{@lot.status}") %></p>

  <% if @lot.pending? && !@lot.expired? %>
    <% if @lot.register_user != current_user %>
      <%= button_to 'Aprovar Lote', approve_lot_path(@lot) %>
    <% end %>
  <% end %>

  <% if @lot.expired? && !@lot.canceled? && !@lot.closed? %>
    <% if @lot.user_player %>
      <%= button_to 'Encerrar Lote', close_lot_path(@lot) %>
    <% else %>
      <%= button_to 'Cancelar Lote', cancel_lot_path(@lot) %>
    <% end %>
  <% end %>
</div>
